
/***
	O2 Priority v5 (MVC)
	BASE SCREEN STYLESHEET - STYLES RESET

	www.aislondon.com (2010)

	-[Colours]-------------------------
	  
	-----------------------------------

	-[Contents]------------------------
	1. GLOBAL
		1.0 Resetting styles		
	
	-----------------------------------

***/

/**
	1.0 Reseting styles
*/

* {
	border: 0;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;	
	width: 100%;	
}

body {
	background: #032B5A;
	font: normal 0.625em Arial, Helvetica, sans-serif;
}

input, textArea {
	font: normal 1.2em Arial, Helvetica, sans-serif;
}

img{
    border: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after { /* Safari does not suppport quotes attr:*/ 
	content: "";
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

table {
	border-collapse: collapse;
}

li {
	list-style-type:none;	
}


