/*
==================================================
O2 PRIORITY REFRESH STYLESHEET

    i. GLOBAL SYLES
    ii. GENERIC SYLES
	1. MASTER WRAPPER
    2. NAVIGATION
    3. WHATS PRIORITY
	4. HOWTO EXPERIENCE
	5. LITTLE TASTER
	6. O2 FOOTER

==================================================
*/

/* GLOBAL SYLES
============================== */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

img {
	width: auto;
	height: auto;
}

h1,h2,h3,h4{
    font-family: Frutiger45Light,sans-serif;
	line-height: 1.2em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2.1em;
}

h4 {
	font-size: 1.5em;
}

p {
	font-size: 1.2em;
	line-height: 1.2em;
}

a {
    color: #0f174f;
}

@media all and (max-width: 640px) {
    p {
        font-family: Frutiger45Light,sans-serif;
    }
}

/* GENERIC SYLES
============================== */

.clearfix {
    zoom: 1;
}

.clearfix:after,.clearfix:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.grid, .grid-inner, .grid-row {
    display: block;
    height: auto;
    overflow: hidden;
}

.grid {
	width: 100%;
	margin: 0 auto;
}

.grid-inner {
    max-width: 1200px;
    margin: 0 auto;
}

.grid-inner.padding {
    padding-left: 1%;
    padding-right: 1%; 
}

@media screen and (max-width: 640px) {
	.grid-inner.padding {
	    padding-left: 5%;
	    padding-right: 5%; 
	}
}

.clearfix:after {
    clear: both;
}

.table {
	display: table;
}

.table .table-cell {
	display: table-cell;
}

.table .table-cell.middle {
	vertical-align: middle;
}

a.round-btn {
	display: inline-block;
	padding: 10px 50px;
	-webkit-border-radius: 100px;
	   -moz-border-radius: 100px;
			border-radius: 100px;
    font-family: Frutiger45Light,sans-serif;
	font-size: 1.7em;
	line-height: 1.2em;
	text-align: center;
	text-decoration: none;
    white-space: nowrap;
}

a.round-btn.dark {
	color: #fff;
	background: #000033;
}

a.round-btn.light {
	color: #fff;
	background: #000033;
}

@media screen and (max-width: 640px) {
	a.round-btn {
    	font-family: Frutiger55,sans-serif;
		font-size: 1.3em;
		padding-left: 15%;
		padding-right: 15%;
	}
}

.intro-copy {
    width: 98%;
    margin-top: 50px;
	margin-left: 1%;
	margin-right: 1%;
    border-top: 1px solid #d2d2d2;
    padding-top: 30px;
}

.intro-copy h3 {
    margin-bottom: 15px;
}

.intro-copy p {
    margin-bottom: 15px;
}

@media all and (max-width: 640px) {
    .intro-copy {
        width: 90%;
        margin-top: 0;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 45px;
        border-top: none;
    }
    .intro-copy p {
        font-size: 1.7em;
        line-height: 1.2em;
    }
    .intro-copy h3 {
        font-size: 2.3em;
        line-height: 1.2em;
    }
}


/* MASTER WRAPPER
============================== */

#o2-page-wrapper {
	background-color: #ebebeb;
    font-family: Frutiger55,sans-serif;
    font-size: 16px;
    line-height: 1em;
}


/* NAVIGATION
============================== */

@media screen and (max-width: 575px) {
    #nav-secondary-no-hide {
        display: none !important;
    }
}

@media screen and (min-width: 575px) {
    .nav-consumer {
        display:none !important;
    }
}





/* WHATS PRIORITY
============================== */

#whatspriority {
    font-family: Frutiger45Light,sans-serif;
    font-size: 16px;
	line-height: 1em;
    color: #0f174f;
}

/* === WHATS PRIORITY CUSTOM STYLINGS === */
#whatspriority p {
	font-size: 1.1em;
	line-height: 1.2em;
}

/* === WHATS PRIORITY ROWS === */
#whatspriority .row {
	width: 98%;
	height: 330px;
	background-color: #fff;
	margin-left: 1%;
	margin-right: 1%;
}

#whatspriority .row:first-child {
    margin-top: 50px;
}

#whatspriority .row:last-child {
	margin-top: 90px;
}

/* === WHATS PRIORITY MODULES === */
#whatspriority .row .copy,
#whatspriority .row .feat-img {
	width: 50%;
	height: 100%;
	float: left;
}

#whatspriority .row .feat-img {
	background-size: cover;
	background-position: center;
}

#whatspriority .row.one .feat-img {
	background-image: url('/images/bg-module1.jpg');
	background-repeat: no-repeat;
}

#whatspriority .row.two .feat-img {
	background-image: url('/images/bg-module2.jpg');
	background-repeat: no-repeat;
}

#whatspriority .row.three .feat-img {
	background-image: url('/images/bg-module3.jpg');
	background-repeat: no-repeat;
}

#whatspriority .row.four .feat-img {
	background-image: url('/images/bg-module4.jpg');
	background-repeat: no-repeat;
}

#whatspriority .row.five .feat-img {
	background-image: url('/images/bg-module5.jpg');
	background-repeat: no-repeat;
}

#whatspriority .row.left .copy {
	float: right;
}

#whatspriority .row .feat-img img {
	padding-top: 70px;
}

#whatspriority .row.right .feat-img img {
	float: left;
}

#whatspriority .row.left .feat-img img {
	float: right;
}

#whatspriority .row .copy {
	background-color: #fff;
	display: table;
}

#whatspriority .row .copy > div {
	display: table-cell;
	vertical-align: middle;
}

#whatspriority .row .copy h2 {
	padding: 0 10% 20px 10%;
}

#whatspriority .row .copy p {
	font-size: 1.2em;
	line-height: 1.2em;
    padding: 0 10% 0 10%;
}

#whatspriority .round-btn {
    margin: 35px 10% 0 10%;
}

@media screen and (max-width: 640px) {

	#whatspriority .row {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	#whatspriority .row .copy,
	#whatspriority .row .feat-img {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	#whatspriority .row.right .feat-img img {
		position: relative;
		left: 50%;
		margin-left: -10px; 
		margin-top: -5px;
		padding-top: 0;
		transform:rotate(90deg);
		-ms-transform:rotate(90deg); /* IE 9 */
		-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
	}

	#whatspriority .row.left .feat-img img {
		position: relative;
		right: 50%;
		margin-right: -10px;
		margin-top: -5px;
		padding-top: 0;
		transform:rotate(270deg);
		-ms-transform:rotate(270deg); /* IE 9 */
		-webkit-transform:rotate(270deg); /* Opera, Chrome, and Safari */
	}

	#whatspriority .center-btn {
		text-align: center;
	}

}


/* HOWTO EXPERIENCE
============================== */

.staticcarousel-wrap {
	background-color: #000;
}

.staticcarousel-wrap .staticcarousel {
    position: relative;
    height: 380px;
	background-image: url('/images/staticcarousel-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.staticcarousel h2 {
    width: 40%;
    position: absolute;
    top: 185px;
    left: 5%;
	font-size: 1.2em;
    line-height: 1.2em;
	color: #fff;
}
.staticcarousel img {
    position: absolute;
    left: 5%;
}

@media screen and (max-width: 640px) {
    .staticcarousel-wrap .staticcarousel {
        height: 400px;
    }
    .staticcarousel h2 {
        width: 80%;
        top: 45%;
	    font-size: 1.4em;
        line-height: 1.2em;
    }
    .staticcarousel img {
        width: 60%;
        top: 10%;
    }
}

#howto .experience {
	width: 48%;
	height: auto;
	float: left;
	margin-top: 68px;
    margin-left: 1%;
    margin-right: 1%;
	background-color: #fff;
}



#howto .experience h3 {
	display: block;
	padding-top: 60px;
	padding-left: 50px;
    font-family: Frutiger45Light,sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    color: #0f174f;
}

#howto .experience .btn-store,
#howto .experience .center-btn {
	margin-bottom: 40px;
}



#howto .experience .btn-store a {
	float: left;
}


#howto .experience .btn-store{
	margin:0 10%;
    width:80%;
}

#howto .experience .btn-store a{
    width:50%;
}

#howto .experience .btn-store a img{
    float:right;
}

#howto .experience .btn-store a.right img{
    float:left;
}

#howto .experience .center-btn {
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

#howto .experience .center-btn .round-btn {
	margin-top: 0;
    padding: 2% 10%;
}

#howto .experience .btn-store a img {
    margin:0 10px 41px 0;
    width:147px;
}

@media screen and (max-width: 370px)
{

    #howto .experience .btn-store a img {
    width:107px;
}
}

@media screen and (max-width: 820px) and (min-width: 640px)
{

    #howto .experience .btn-store a img {
    width:107px;
    margin:0 10px 54px 0;
}
}

#howto .experience .btn-store a.right img{
    
    margin:0 0 0 10px;
}




@media screen and (max-width: 640px) {

	#howto .experience {
		margin-top: 40px;
	}


	#howto .experience:first-child {
		background-size: 55% auto;
		background-position: 50% 60%;
	}

	#howto .experience:last-child {
		background-size: 80% auto;
		background-position: 100% 65%;
	}


}




@media screen and (max-width: 640px) {

	#howto .experience {
		width: 100%;
	}

	#howto .experience h2 {
		text-align: center;
	}

	#howto .feat-img {
		width: 50%;
	}

}


/* LITTLE TASTER
============================== */

#little-taster {
    font-family: Frutiger55,sans-serif;
    font-size: 16px;
    line-height: 1em;
    color: #0f174f;
}

#little-taster .feat-module {
	display: table-cell;
	float: left;
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #fff;
}

#little-taster .feat-module .feat-img {
	width: 100%;
	height: 280px;
	display: block;
}

#little-taster .feat-module .feat-img {
    height: 280px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#little-taster .feat-module.one .feat-img {
	background-image: url('/images/taster-ladygaga.jpg');
}

#little-taster .feat-module.two .feat-img {
	background-image: url('/images/taster-nikeshoes.jpg');
}

#little-taster .feat-module.three .feat-img {
	background-image: url('/images/taster-sushi.jpg');
}

#little-taster .feat-module.four .feat-img {
	background-image: url('/images/taster-hotelchocolate.jpg');
}

#little-taster .feat-module .feat-img img {
	width: 28%;
	position: absolute;
	bottom: 0;
}

#little-taster .feat-module h4 {
	display: block;
	height: 180px;
	padding: 8% 8% 0% 10%;
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: normal;
}

#little-taster .feat-module > p {
	height: 40px;
	padding-left: 8%;
	padding-right: 8%;
	border-bottom: 1px solid #e6e6e6;
	font-family: Frutiger65Bold,sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
}

#little-taster .feat-module .icon {
	display: block;
	height: 45px;
	padding: 6% 5% 6% 10%;
}

#little-taster .feat-module .icon p {
	display: inline-block;
	font-family: Frutiger65Bold,sans-serif;
	font-size: 1em;
	font-weight: bold;
}

@media screen and (max-width:900px) {
	#little-taster .feat-module h4 {
		height: 220px;
	}
}

@media screen and (max-width:640px) {
    #little-taster {
        border-top: none;
    }
	#little-taster .feat-module {
		width: 50%;
		margin-left: 0;
		margin-right: 0;
	}
	#little-taster .feat-module.two,
	#little-taster .feat-module.four {
		border-left: 1px solid #e6e6e6;
	}
}


ul.brand-logos
        {
            overflow:hidden;
        }
        ul.brand-logos li
        {
            float:left;
        }

        ul.brand-logos li
        {
            width:25%;
            padding:0 1% 1% 1%;
        }
        ul.brand-logos li.first
        {
            width:25%;
            padding:0 1% 1% 0;
        }
        ul.brand-logos li.last
        {
            width:25%;
            padding:0 0 1% 1%;
        }
        ul.brand-logos li img
        {
            width:100%;
        }
        ul.more-brand-logos {
            height:0;
            width:100%;
        }
        .see-more.responsive
        {
            display:none;
        }


    .some-of-our-brands p {
        overflow: auto;
    }

    .some-of-our-brands a.see-more.fixed {
        float:right;
        font-size: 0.9em;
    }

    .some-of-our-brands .see-more img {
        padding-left: 15px;
        vertical-align:middle
    }

            @media all and (max-width: 640px) {

                ul.brand-logos li, ul.brand-logos li.last, ul.brand-logos li.first, ul.brand-logos li.last2, ul.brand-logos li.first2 {
                    width: 50%;
                    padding: 0;
                }
                .some-of-our-brands {
                    border-top: none;
                }
               .some-of-our-brands .see-more.fixed {
                    display:none;
                }
                .some-of-our-brands .see-more.responsive {
                    display:block;
                    padding: 40px 0;
                    font-size: 2em;
                    line-height: 1.2em;
                    text-align: center;
                    background-color: #fff;
                }
            }




/* O2 FOOTER
============================== */

footer {
    display: block;
    background: #000033;
    font-family: Frutiger45Light,sans-serif;
    color: #fff;
}

footer a,
footer a:active,
footer a:hover,
footer a:visited {
    color: #fff!important;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* === O2 FOOTER ANCHOR JUMP === */
a.footer-jump {
    display: block;
    margin:85px auto;
    width:50px;
    height:50px;
}


/* === O2 FOOTER LOGO === */
#footer-main {
	padding-top: 24px;
	padding-bottom: 24px;
}

#footer-main .logo.priority {
    display: inline-block;
	position: relative;
    left: 50%;
    top: 0%;
    margin: 10px 0 0 -106px;
    vertical-align: top;
}

/* === O2 FOOTER NAV === */
footer #footer-nav {
    font-size: .8em;
    line-height: 1.5em;
    padding: 7px 0;
    border-top: 1px solid #262651;
    border-bottom: 1px solid #262651;
    margin-bottom:  90px;
}

footer #footer-nav ul {
	float: left;
}

footer #footer-nav ul li {
    display: inline-block;
    margin-right: 15px;
}

footer p {
    margin: 0;
    color: #fff;
    line-height: 1.5em;
    display: inline-block;
}

footer #footer-nav .telefonica-links {
    float: right;
    display: block;
    color: #80808e;
}

/* === O2 FOOTER MEDIA QUERIES === */
@media screen and (max-width:640px) {

	footer #footer-nav {
		font-size: 1em;
		padding: 0;
		border-bottom: none;
		margin-bottom: 0;
	}

	footer #footer-nav .grid-inner {
		padding: 0;
	}

	footer #footer-nav ul {
		font-size: 1.2em;
		width: 100%;
		float: none;
	}

	footer #footer-nav ul li {
		display: block;
		text-align: center;
		margin: initial;
		padding: 5px 0;
	}

	footer #footer-nav ul li:first-child {
		padding-top: 25px;
	}

	footer #footer-nav ul li:last-child {
		padding-bottom: 25px;
	}

	footer #footer-nav .telefonica-links {
		float: none;
    	border-top: 1px solid #262651;
    	padding: 15px 0;
		text-align: center;
	}

}

.nav-primary .logo.priority {
width:155px;
height:27px;
position:relative;
top:50%;
left:50%;
margin:30px 0 0 -77px ;
}

@media screen and (max-width:972px)
{

    .nav-primary .logo.priority
    {

        margin-top: 20px;
    }
}

@media screen and (max-width:814px)
{

    .nav-primary .logo.priority
    {

        margin-top: 12px;
    }
}

.hero .priority-logo
{
   position:absolute;
   top:40px;
}

.hero h2
{
   color:#ffffff;
   font-size:1.6em;
  margin:165px 0 0 0;
      white-space: nowrap;
      font-family: Frutiger45Light,sans-serif;
}

.hero a.round-btn {
    margin:30px 0 0 0;
color: #000033;
background: #fff;
}

.slide-content
{
    width:100% !important;
}

.hero img.map
{
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}


 img.map
{
     min-width: 1100px;
     min-height: 400px;
}


 #howto .experience img {
	width:100%;
    height:auto;
    margin:0 auto;
}






/* 
    FAQ's
*/
.faqs-section{
    margin: 0 0 8px 0;
}
    .faqs-section h2{
        font-size: 3.6em;
        color: #132447;
        border-top: solid #dedfe1 1px;
        padding: 80px 20px 70px;
    }
    .faqs-section ul {
	    overflow:hidden;
    }
    
    .faqs-section p {
	    padding: 6px 0px 6px 0px;
    }
    
    .faqs-section h5 {
	    font-size: 1.2em;
    }

    .faqs-section ul li {
        background-color: #fff;
    }
    .faqs-section ul li h3{
        height: 100px;
        border-bottom: solid #dedfe1 1px;
        padding: 34px 3% 34px 4%;
        line-height: 1em;
        font-size: 1.6em;
    }
        .faqs-section ul li h3 a {
	        background: url(/images/Buttons/icon-expand.png)  100% 0 no-repeat;
	        height: 40px;
            line-height: 28px;
	        width: 100%;
	        display:block;
            outline: none;
            padding-right: 60px;
        }
        .faqs-section ul li h3 a:hover{
            text-decoration: none;
            color: #132447;
        }


        body.js .faqs-section ul li h3 a.open{
            background: url(/images/Buttons/icon-expand.png)  100% 0 no-repeat;
        }

        body.js .faqs-section ul li h3 a{background: url(/images/Buttons/icon-expand.png)  100% 0px no-repeat;}
        body.js .faqs-section ul li .content{display: none;}

    .faqs-section ul li .content{
        padding: 25px 9% 25px 9%;
        border-bottom: 1px solid #e9e9e9;
    }
    .faqs-section ul li .content h4 {
        color: #0f174f;
        font-size: 1.2em;
        font-weight: normal;
        font-family: Frutiger55,sans-serif;
    }
    .faqs-section ul li .content p {
        color: #0f174f;
        font-size: 1.1em;
        font-weight: normal;
        font-family: Frutiger45Light,sans-serif;
    }

    .faqs-section ul li.last{
        padding: 0 0 9px 0;
    }
    .faqs-section ul li.last h3 {
        border-bottom: 0;
    }
    .faqs-section ul li.last .content{
        border: none;
    }

.faqs-section ul li h4 {
	font-size:1.4em;
	font-weight:bold;
	padding:20px 0 0 0;
	width: 100%;
}

.faqs-section ul li ul li {
    font-size: 1.2em;
}

@media screen and (max-width:640px) {
    .faqs-section h2{
        font-size: 3.6em;
        text-align: center;
        border-bottom: solid #dedfe1 1px;
        padding: 60px 0;
    }
    .faqs-section ul li h3{
        font-size: 2em;
    }
    .faqs-section ul li .content{
        padding: 25px 5% 25px 12%;
        border-bottom: 1px solid #e9e9e9;
    }
}
/*
@media screen and (max-width:520px) {
    .faqs-section ul li h3 {
        font-size: 1.5em;
    }
}*/
        


