@import "legacy-base";
@import "legacy-refresh";
@import "_legacy-modules.css";

//Temporary helpers
header {
    position: relative;
    overflow: hidden;
    height: 173px;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ebebeb;
        content: "";
    }
}

@font-face {
    font-family: 'frutiger55';
    src: url("/images/frutiger-55roman.woff") format("woff");
}


@font-face {
    font-family: 'frutiger45';
    src: url("/images/frutiger-45light.woff") format("woff");
}


.box {
    position: absolute;
    width: 200px;
    right: 60px;
    top: -8%;
    height: 105%;
    background: red;
    z-index: 100;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9659258262890683, M12=-0.2588190451025207, M21=0.2588190451025207, M22=0.9659258262890683, SizingMethod='auto expand')";
}

.clearfix {
    zoom: 1;
}

.clearfix:before,.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

@font-face {
    font-family: "Frutiger45Light";
    src: url("../fonts/frutiger-45light.eot");
    src: url("../fonts/frutiger-45light.eot?#iefix") format("embedded-opentype"), url("../fonts/frutiger-45light.woff") format("woff"), url("../fonts/frutiger-45light.ttf") format("truetype"), url("../fonts/frutiger-45light.svg#Frutiger45Light") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Frutiger46Italic";
    src: url("../fonts/frutiger-46lightitalic.eot");
    src: url("../fonts/frutiger-46lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/frutiger-46lightitalic.woff") format("woff"), url("../fonts/frutiger-46lightitalic.ttf") format("truetype"), url("../fonts/frutiger-46lightitalic.svg#Frutiger46Italic") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Frutiger55";
    src: url("../fonts/frutiger-55roman.eot");
    src: url("../fonts/frutiger-55roman.eot?#iefix") format("embedded-opentype"), url("../fonts/frutiger-55roman.woff") format("woff"), url("../fonts/frutiger-55roman.ttf") format("truetype"), url("../fonts/frutiger-55roman.svg#Frutiger55") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Frutiger65Bold";
    src: url("../fonts/frutiger-65bold.eot");
    src: url("../fonts/frutiger-65bold.eot?#iefix") format("embedded-opentype"), url("../fonts/frutiger-65bold.woff") format("woff"), url("../fonts/frutiger-65bold.ttf") format("truetype"), url("../fonts/frutiger-65bold.svg#Frutiger65Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}


body {
    -webkit-font-smoothing: antialiased;
}

body b,body strong {
    font-family: Frutiger65Bold;
    font-weight: normal;
}