/**
 * @package     O2_component
 * @subpackage  Carousel
 * @version     1.6.0
 * @author      Craig Richardson <craig.richardson@mcsaatchi.com>
 * @date        2014-06-23T15:30Z
 */
 .o2__carousel {
    width: 100%;
    height: 400px;
    background: #0d376c;
}

.has-gradient {
    background: -moz-linear-gradient(left, #111111 50%, #0d376c 50%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #111111), color-stop(50%, #0d376c));
    background: -webkit-linear-gradient(left, #111111 50%, #0d376c 50%);
    background: -o-linear-gradient(left, #111111 50%, #0d376c 50%);
    background: -ms-linear-gradient(left, #111111 50%, #0d376c 50%);
    background: linear-gradient(to right, #111111 50%, #0d376c 50%);
    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='#0d376c',GradientType=1 );
}

.o2__carousel .grid-inner {
    position: relative;
    overflow: visible;
    height: 100%;
}

/** CAROUSEL ITEM **/
.o2__carousel__item {
    position: absolute;
    z-index: 10;
    margin-left: 60px;
    width: 100%;
    height: 100%;
}

.o2__carousel__item.first {
    left: -21.5%;
    z-index: 40;
}
.o2__carousel__item.second {
    left: -10.5%;
    z-index: 30;
}
.o2__carousel__item.third {
    left: 0;
    z-index: 20;
}

.o2__carousel__item__content {
    position: relative;
    width: 100%;
    height: 100%;
}

.o2__carousel__item__content__background {
    top: 0 !important;
    right: 0;
    left: auto !important;
}

.o2__carousel__item__content img {
    position: absolute;
    top: 45px;
    left: 20%;
}

.o2__carousel__item__content h2 {
    left: 20%;
    position: absolute;
    top: 220px;
    margin-left: -2px;
    color: #fff;
    white-space: nowrap;
    font-size: 1.2em;
    font-family: "Frutiger45Light";
    line-height: 1.2em;
}

.o2__carousel__item__content a {
    left: 20%;
    position: absolute;
    top: 277px;
    padding: 20px 52px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #fff;
    color: #131313;
    font-size: 26px;
    font-family: "Frutiger45Light";    
    text-decoration: none;
}

.o2__carousel__item__content a:hover {
    text-decoration: underline;
}

/** PAGINATION **/
.o2__carousel__pagination {
    position: absolute;
    bottom: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 40px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.o2__carousel__pagination__switch {
    display: inline-block;
    margin: 16px 0 0 1px;
    padding: 0;
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
}

.o2__carousel__pagination .prev, .o2__carousel__pagination .next {
    position: absolute;
    bottom: 0;
    width: 39px;
    height: 39px;
    cursor: pointer;
}

.o2__carousel__pagination .prev {
    left: 0;
    background-image: url("//static.o2.co.uk/shared/img/modules/carousel-prev");
}

.o2__carousel__pagination .next {
    right: 0;
    background-image: url("//static.o2.co.uk/shared/img/modules/carousel-next");
}

.o2__carousel__pagination__switch.active {
    background: #3ba3ea;
}


@media (max-width: 575px) {

    .o2__carousel {
        height: 240px;
    }
    .o2__carousel .grid-inner {
        overflow: hidden;
    }
    .o2__carousel__item__content {
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left;
    }
    .o2__carousel__item {
        left: 0 !important;
        overflow: hidden;
        margin: 0;
    }
    .o2__carousel__item__content img,
    .o2__carousel__item__content h2,
    .o2__carousel__item__content a {
        left: 8%;
    }
    .o2__carousel__item__content__background {        
        right: -100%;
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        transform: scale(1.4);
    }    

    .o2__carousel__item__content__background[src*="/Images/Refresh/portal-hero-xxl-1100-slide1.png"]{        
    }
    .o2__carousel__item__content__background[src*="/Images/Refresh/portal-hero-xxl-1100-slide2.png"]{    
    }
    .o2__carousel__item__content__background[src*="/Images/Refresh/portal-hero-xxl-1100-slide3.png"]{
    }

    .o2__carousel__item__content img{
        top: 20px;    
    }
    .o2__carousel__item__content h2{
        top: 195px;
        font-size: 23px;
    }
    .o2__carousel__item__content a{
        top: 245px;
        margin-left: -1px;
    }

    .o2__carousel__pagination {
        display: block;
    }
}


/* Secondary Breakpoint */
@media (min-width: 576px) {
    .o2__carousel {
        height: 320px;
    }
    .o2__carousel__item__content {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transform-origin: top right;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    .o2__carousel__item__content img,
    .o2__carousel__item__content h2,
    .o2__carousel__item__content a {
        left: 0;
    }    
}

/* Desktop Breakpoint */
@media screen and (min-width: 815px) {
    .o2__carousel {
        height: 400px;
    }
    .o2__carousel__item__content {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    .o2__carousel__item__content img,
    .o2__carousel__item__content h2,
    .o2__carousel__item__content a {
        left: 20%;
    }
}